/* 0 ~ 360 일때 동작 */
/* (실무)360사이즈에서 가장 많이 디자인함 */

/* 0 ~ 1080px */
@media screen and (max-width:1080px) {
    .s1-c3-con {
        flex-wrap: column;
    }
    .c3-bx {
        width: 100%;
        height: 300px;
        flex-grow: 0;
        flex-basis: auto;
    }
}


/* (포토폴리오) 화면이 길어야 예뻐서 320*720 */
@media screen and (max-width: 320px) {
    header {
        height: 80px;
        background-color: #b6b6b6;
    }
    footer {
        height: 210px;
        background-color: #b6b6b6;
    }
}