body{height: 30px;}
.notice-bar {
    border: 1px solid red;
    background-color: var(--main);
    height: 4vh; min-height: 3vh; 
    /* 최소값을 유지하기 위해 min-height 최소값을 적어야함 (줄어들때 최소 3vh는 유지한다는뜻) */
    display: flex; justify-content: center;
    align-items: center; gap: 8px;
}
header {
    height: 12vh;
    border-bottom: 1px solid var(--main);
    display: flex; justify-content: space-between;
}
.logo-box {
    border: 1px solid red;
    align-self: center;
}

.user-box {
    border: 1px solid red;
    display: flex;
}
.menu1 {
    border: 1px solid red;
}
.menu1 ul {
    border: 1px solid red;
    display: flex; height: 100%;
}
.menu1 li {
    border: 1px solid red;
    display: flex; align-items: center;
}
.menu1 a {
    padding-top: var(--num8);
    padding-bottom: var(--num8);
}
.user-menu-box {
    border: 1px solid red;
    align-self: center; display: flex;
}
.se-box {
    display: flex;
    align-items: center;
}
.user-ex {
    display: flex;
    align-items: center;
    gap: var(--num8);
}