body{height: 30px;}
.notice-bar {
    background-color: var(--main);
    height: 4vh; min-height: 3vh; 
    /* 최소값을 유지하기 위해 min-height 최소값을 적어야함 (줄어들때 최소 3vh는 유지한다는뜻) */
    display: flex; justify-content: center;
    align-items: center; gap: 8px;
}
header {
    border-bottom: 1px solid var(--main);
}
header .con {
    height: 12vh;
    display: flex; justify-content: space-between;
}
.logo-box {
    align-self: center;
}

.user-box {
    display: flex;
}
.menu1 ul {
    display: flex; height: 100%;
    gap: var(--num40);
}
.menu1 li {
    display: flex; align-items: center;
    position: relative;
}
.menu1 li:nth-child(2) {
    padding-left: var(--num60);
}
.menu1 li>.icon-new {
    left: calc(50% + 10px);
    top: calc(50% - 35px);
    transform: translate(-50%, -50%);

}
.menu1 a {
    padding-top: var(--num8);
    padding-bottom: var(--num8);
    font-weight: var(--textW-large);
}
.user-menu-box {
    align-self: center; 
    display: flex;
}
.se-box {
    display: flex;
    align-items: center;
}
.user-ex {
    display: flex;
    align-items: center;
    gap: var(--num8);
}
